@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 81px auto 81px;
}

.display--hidden {
    overflow: hidden;
}

.display--none {
    display: none;
}

.conteudo-principal {
    grid-row: 2 / 3;
    padding-top: 32px;
    color: #087f23;
    overflow: auto;
}

.conteudo-principal h3 {
    font-size: 2em;
    text-align: center;
}

.flecha-slide {
    display: none;
}

.categoria__controller {
    position: relative;
}

.recomendacoes__controller {
    position: relative;
}

.categorias h3 {
    font-size: 2em;
    padding-left: 48px;
    padding-right: 48px;
}

.categorias__container {
    padding-top: 24px;
    overflow: auto;
    white-space: nowrap;
}

.categorias__item {
    position: relative;
    height: 100px;
    width: 150px;
    display: inline-block;
    margin: 1rem;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
    border-radius: 16px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.categorias__item:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, .12)
}

.categorias__img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.descricao__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-color: #fff;
    opacity: .7;
}

.categorias__descricao {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FD5523;
    font-weight: bold;
    font-size: 1.2rem;
}

.categorias, .recomendacoes {
    margin-bottom: 3rem;
}

.recomendacoes h3 {
    font-size: 2em;
    padding-left: 48px;
    padding-right: 48px;
}

.recomendacoes__container {
    padding-top: 24px;
    overflow: auto;
    white-space: nowrap;
}

.recomendacoes__item {
    position: relative;
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 1rem;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
    border-radius: 16px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.recomendacoes__item:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, .12);
}

.recomendacoes__img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.recomendacoes__descricao {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #087f23;
    font-weight: bold;
    font-size: 1.2rem;
}

.estabelecimento-list {
    margin: 10%;
    margin-bottom: 20%;
}

.estabelecimento-list__item {
    display: inline-block;
    background-color: white;
    position: relative;
    height: 100%;
    width: 100%;
    /* margin: 1rem; */
    padding-bottom: 32px;
    font-size: 0.7em;
}

.estabelecimento__imagem {
    height: 200px;
    width: 100%;
}

.estabelecimento__link {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2em;
    text-decoration: none;
}

.estabelecimento__nome,
.estabelecimento__distancia,
.estabelecimento__tempo-entrega {
    color: #087f23;
    font-weight: bold;
    width: 100%;
    margin-top: .5rem;
    margin-left: 0.3rem;
    word-spacing: 0.1rem;
}

.estabelecimento__rating {
    position: absolute;
    bottom: 70px;
    right: 10px;
    display: flex;
    align-items: center;
}

.estabelecimento__rating_label,
.estabelecimento__rating_icon {
    color: #e7a74e;
}


@media only screen  and (min-width : 1224px) {
    body {
        grid-template-rows: 81px auto 5%;
    }
    
    .conteudo-principal {
        margin: 0 10%;
        padding: 50px;
        height: 100%;
        grid-row: 2 / 3;
        overflow: visible;
    }

    .flecha-slide {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    .flecha-slide i {
        font-size: 48px;
    }
    
    .flecha-slide--esquerda {
        left: 0;
    }
    
    .flecha-slide--direita {
        right: 0;
    }

    .categorias h3 {
        font-size: 5em;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .categorias__container,
    .recomendacoes__container {
        overflow: hidden;
    }

    .categorias__container {
        height: 350px;
    }

    .categorias__item {
        height: 250px;
        width: 300px;
    }

    .recomendacoes__container {
        height: 420px;
    }

    .recomendacoes__item {
        width: 300px;
        height: 300px;
    }

    .estabelecimento-list {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    .rodape {
        margin-top: 5rem;
        height: 3rem;
        grid-row: 3 / 4;
    }
}