@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    /* background-color: #FFFBE6; */
}

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lekton', sans-serif;
*/

.cabecalho-principal {
    min-height: 5vh;
    font-family: 'Montserrat', sans-serif;
    margin: 3rem;
}

.cabecalho-principal h1 {
    color: #356859;
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

.conteudo-principal {
    margin: 0 10%;
    color: #356859;
}

.conteudo-principal h3 {
    font-size: 1.3em;
}

.conteudo-principal .categorias .categorias-itens {
    margin-top: 1rem;
}

.conteudo-principal .categorias .categorias-itens article {
    position: relative;
    height: 250px;
    width: 300px;
    display: inline-block;
    margin-right: 1rem;
}

.conteudo-principal .categorias .categorias-itens img {
    position: absolute;
    height: 80%;
    width: 100%;
}

.conteudo-principal .categorias .categorias-itens p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FD5523;
    font-weight: bold;
    font-size: 1.2rem;
}

.categorias, .recomendacoes {
    margin-bottom: 3rem;
}

.recomendacoes-itens {
    margin-top: 1rem;
}

.recomendacoes-itens .item {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 1rem;
}

.recomendacoes-itens .item img {
    position: absolute;
    height: 85%;
    width: 100%;
}

.recomendacoes-itens .item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #37966F;
    font-weight: bold;
    font-size: 1.2rem;
}

.estabelecimento {
    background-color: #B9E4C9;
    height: 400px;
    width: 100%;
    padding: 2rem;
}

.estabelecimento h2 {
    color: #356859;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.rodape {
    height: 200px;
    width: 100%;
}