@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.cabecalho-principal {
    width: 100%;
    margin: 0;
}

.cabecalho-principal__navegacao {
    background-color: #087f23;
    position: relative;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cabecalho-principal__navegacao__titulo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.cabecalho-principal__navegacao__entrar {
    color: #087f23;
    text-decoration: none;
    font-size: 1.2rem;
    width: 140px;
    height: 50px;
    font-size: 1rem;
    border: 1px solid #087f23;
    color: #087f23;
    padding: 2px;
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    border-radius: 4px;
}

.cabecalho-principal__navegacao__entrar:hover {
    background-color: #087f23;
    color: #000000;
    border: 1px solid #087f23;
}

.icon-entrar {
    display: block;
    color: #fff;
    margin-left: 10p;
    position: absolute;
    right: 24px;
}

.icon-entrar i {
    font-size: 3em;
}

.conteudo-principal {
    margin: 0;
    margin-top: 12px;
    color: #087f23;
}

.conteudo-principal h3 {
    font-size: 2em;
    text-align: center;
}

.flecha-slide {
    display: none;
}

.categoria__controller {
    position: relative;
}

.recomendacoes__controller {
    position: relative;
}

.categorias__container {
    padding-top: 24px;
    height: 350px;
    margin-top: 3rem;
    overflow: auto;
    white-space: nowrap;
}

.categorias__item {
    position: relative;
    height: 100px;
    width: 150px;
    display: inline-block;
    margin: 1rem;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
    border-radius: 16px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.categorias__item:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, .12)
}

.categorias__img {
    position: absolute;
    height: 70%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.categorias__descricao {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #087f23;
    font-weight: bold;
    font-size: 1.2rem;
}

.categorias, .recomendacoes {
    margin-bottom: 3rem;
}

.recomendacoes__container {
    padding-top: 24px;
    height: 420px;
    margin-top: 3rem;
    overflow: auto;
    white-space: nowrap;
}

.recomendacoes__item {
    position: relative;
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 1rem;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
    border-radius: 16px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.recomendacoes__item:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, .12);
}

.recomendacoes__img {
    position: absolute;
    height: 85%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.recomendacoes__descricao {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #087f23;
    font-weight: bold;
    font-size: 1.2rem;
}

.estabelecimento {
    background-color: #4caf50;
    height: 350px;
    width: 100%;
    padding: 32px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.estabelecimento h2, .estabelecimento p {
    color: #000000;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.estabelecimento h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.btn-cadastro-estabelecimento {
    text-decoration: none;
    padding: 16px;
    line-height: 1.25em;
    border-radius: 4px;
    width: 250px;
    margin-top: 1rem;
    background-color: #FD5523;
    color: #fff;
}

.btn-cadastro-estabelecimento:hover {
    background-color: white;
    border: none;
    color: #FD5523;
}

.depoimentos {
    position: relative;
    height: 500px;
    margin-top: 3rem;
}

.depoimentos h3 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.depoimentos .frase {
    text-align: center;
    position: relative;
    padding: 15px 210px;
    margin: 30px 0;
    font-size: 2rem;
}

.depoimentos .frase::before {
    content: "\201C";
    top: 0px;
    left: 112px;
    line-height: 1;
    font-size: 8rem;
    font-family: serif;
    position: absolute;
    color: #356859;
}

.depoimentos .frase::after {
    content: "\201D";
    bottom: 0px;
    right: 112px;
    line-height: 0;
    font-size: 8rem;
    font-family: serif;
    position: absolute;
    color: #356859;
}

.depoimentos .frase-imagens {
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
}

.depoimentos .frase-imagens img {
    border-radius: 50%;
}

.depoimentos .frase-imagens .oculto {
    opacity: 0.3;
}

.rodape {
    height: 5rem;
    margin: 0;
    background-color: #356859;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 0 1rem;
    font-size: 1.1rem;
}

.mdc-elevation-transition {
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow
}

.display-none {
    display: none;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

@media only screen  and (min-width : 1224px) {
    .cabecalho-principal {
        padding: 0 10%;
        margin-bottom: 3rem;
    }
    
    .cabecalho-principal__navegacao {
        justify-content: center;
        padding: 2rem 0;
        background-color: #fff;
    }

    .cabecalho-principal__navegacao__titulo {
        color: #087f23;
    }
    
    .cabecalho-principal__navegacao__entrar {
        display: inline-flex;
    }

    .icon-entrar {
        display: none;
    }

    .conteudo-principal {
        margin: 0 10%;
    }

    .flecha-slide {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    .flecha-slide i {
        font-size: 48px;
    }
    
    .flecha-slide--esquerda {
        left: 0;
    }
    
    .flecha-slide--direita {
        right: 0;
    }
    
    .categorias__container,
    .recomendacoes__container {
        overflow: hidden;
    }

    .categorias__item {
        height: 250px;
        width: 300px;
    }

    .estabelecimento {
        border-radius: 14px;
        height: 300px;
    }

    .estabelecimento h2 {
        color: #000000;
    }

    .recomendacoes__item {
        width: 300px;
        height: 300px;
    }

    .rodape {
        margin-top: 5rem;
        height: 3rem;
    }
}

/* @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {     */
/* @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    .cabecalho-principal {
        width: 100%;
        margin: 0;
    }

    .conteudo-principal {
        margin: 0;
        margin-top: 12px;
    }

    .cabecalho-principal__navegacao {
        background-color: #087f23;
        justify-content: flex-start;
        padding: 12px;
    }

    .cabecalho-principal__navegacao__titulo {
        color: #fff;
    }

    
    .categorias__item {
        height: 100px;
        width: 150px;
    }

    .btn-entrar {
        display: none;
    }

    .icon-entrar {
        display: block;
        color: #fff;
        margin-left: 10p;
        position: absolute;
        right: 24px;
    }

    .icon-entrar i {
        font-size: 3em;
    }

    .estabelecimento {
        border-radius: 0;
        height: 350px;
    }

    .estabelecimento h2 {
        color: #fff;
    }

    .recomendacoes__item {
        height: 200px;
        width: 150px;
    }

    .rodape {
        margin: 0;
        height: 5rem;
    }
} */