@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #efefef;
}

body {
  background-image: url("https://c.wallhere.com/photos/dc/8b/2560x1600_px_food_mushroom_Onions_Peppers_Spoon_Tomatoes_Wooden_Surface-827582.jpg!d");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80%;
  width: 80%;
  background-color: #efefef;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 30% 70%;
  color: white;
  animation-name: entrada-container;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cadastro {
  position: relative;
  background-color: #356859;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadastro > h2,
.cadastro > p,
.cadastro > a {
  margin-top: 3rem;
}

.cadastro .btnVoltar {
  color: white;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
}

.cadastro .btnVoltar:hover {
  border: none;
}

.cadastro > h2 {
  font-size: 2em;
}

.cadastro p {
  font-size: 1.1em;
}


.cadastro .btnCadastrar {
  height: 3rem;
  width: 10rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  color: #356859;
  text-decoration: none;
  border: 1px solid #356859;
}

.cadastro a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}


.cadastro-formulario {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cadastro-formulario h2 {
  font-size: 4rem;
  margin-bottom: 2rem;

}

.cadastro-formulario input {
  margin-top: 1rem;
  border: 1px solid #356859;
  border-radius: .5rem;
  padding: .5rem;
  width: 17rem;
  outline: none;
}

.primeiro-bloco, .segundo-bloco {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cadastro-navegacao {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.cadastro-formulario button, .cadastro-formulario a {
  height: 3rem;
  width: 10rem;
  background-color: #356859;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
}

.cadastro-formulario .btnCancelar {
  margin-right: 1rem;
}

.entrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entrar h1,
.entrar input,
.entrar button {
  margin-top: 2rem;
}

.entrar h1 {
  color: #356859;
  font-size: 3rem;
  letter-spacing: .2rem;
}

.entrar input {
  border: 1px solid #356859;
  border-radius: .5rem;
  padding: .5rem;
  width: 17rem;
  outline: none;
}

.entrar button {
  height: 3rem;
  width: 10rem;
  background-color: #356859;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}

.entrar button:hover {
  background-color: transparent;
  color: #356859;
  border: 1px solid #356859;
}

@keyframes entrada-container {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}