@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

/* color: #087f23;
color: #4caf50;
color: #80e27e;
color: #000000; */

body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto 40px;
}

.conteudo-principal {
    height: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 700px 100px;
    padding: 16px;
}

.pedido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 10px 615px;
    gap: 8px;
    padding: 8px;
}

.pedido__titulo {
    margin: 0;
}

.pedido__itens {
    display: block;
    overflow: auto;
}

.pedido__itens::-webkit-scrollbar {
    width: 3px;
}

.pedido__itens::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

.pedido__item {
    height: 70px;
    border-bottom: 1px solid #cecece;
    margin: 8px;
    padding: 8px;
    display: grid;
    grid-template-columns: 5fr 5fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pedido__item:hover {
    background-color: #cecece65;
}

.pedido__endereco {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
}

.pedido__btn-aceitar,
.pedido__btn-recusar {
    cursor: pointer;
    font-size: 2em;
}

.pedido__btn-aceitar {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    color: green;
}

.pedido__btn-recusar {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    color: red;
}

.pedido-produtos {
    grid-column: 1 / 4;
}