@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto 40px;
}

.conteudo-principal {
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formulario {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.formulario-produto,
.formulario-composicao {
    padding: 16px;
    display: grid;
    gap: 16px;
}

.formulario-produto {
    grid-auto-rows: 50px;
}

.formulario-composicao {
    grid-template-rows: repeat(2, 50px) auto;
}

.composicao-info-wrapper {
    display: grid;
    grid-template-columns: 60% 38%;
    column-gap: 2%;
}

.formulario-produto__item,
.formulario-composicao__item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formulario-produto__codigo,
.formulario-composicao__quantidade,
.formulario-produto__descricao,
.formulario-composicao__descricao,
.formulario-produto__valor {
    padding: 6px;
    height: 100%;
    border: 1px solid #087f23;
    color: #000000;
}

.preview {
    margin-top: 24px;
    width: 300px;
    justify-self: center;
    overflow: auto;
}

.preview::-webkit-scrollbar {
    width: 7px;
}

.preview::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

.preview__section {
    display: grid;
}

.preview__titulo {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #4caf50;
    color: #000000;
}

.preview__item {
    background-color: #80e27e;
    color: #000000;
    font-size: 1rem;
    position: relative;
    height: 4rem;
}

.preview-item__titulo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 2rem;
}

.rodape {
    grid-column: 1 / 3;
    background-color: #4caf50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 0 1rem;
    font-size: 1.1rem;
}