.menu {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #4caf50;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.menu__link {
    color: #000000;
    outline: none;
}

.menu__icon {
    font-size: 36px;
}

@media only screen  and (min-width : 1224px) {
    .menu {
        display: none;
    }
}