@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #efefef;
}

.cabecalho {
    min-height: 5vh;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
}

.cabecalho__navegacao {
    height: 4rem;
    background-color: #356859;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.cabecalho__logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.cabecalho__titulo {
    color: #356859;
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
    margin: 0 10%;
}

.cabecalho__divider {
    margin: 2% 10%;   
}

.estabelecimento-list {
    margin: 0 10%;
    /* height: 350px; */
}

.estabelecimento-list__item {
    display: inline-block;
    background-color: white;
    position: relative;
    height: 100%;
    width: 269px;
    margin: 1rem;
    padding-bottom: 1rem;
}

.estabelecimento__imagem {
    height: 70%;
    width: 100%;
}

.estabelecimento__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.estabelecimento__nome,
.estabelecimento__distancia,
.estabelecimento__tempo-entrega {
    color: #356859;
    font-weight: bold;
    width: 100%;
    margin-top: .5rem;
    margin-left: 0.3rem;
    word-spacing: 0.1rem;
}

.estabelecimento__rating {
    position: absolute;
    bottom: 3.3rem;
    right: .5rem;
    display: flex;
    align-items: center;
}

.estabelecimento__rating_label,
.estabelecimento__rating_icon {
    color: #e7a74e;
}
