.cabecalho {
    height: 100%;
    display: grid;
    grid-template-rows: 33.33% auto 5%;
}

.cabecalho__titulo {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
    margin: 0;
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
}

.cabecalho__divider {
    grid-row: 3 / 4;
}