@media only screen  and (min-width : 1224px) {
    .sacola-container {
        height: 500px;
        width: 500px;
        position: absolute;
        right: 10%;
        top: 5rem;
        color: #000000;
        padding: 1rem;
        background-color: #80e27e;
        border-radius: .3rem;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
        z-index: 10000;
    }
    
    .sacola__estabelecimento {
        margin: 1rem 0;
    }
    
    .sacola-pedido {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        padding-right: 3rem;
    }
    
    .sacola-pedido__descricao {
        font-weight: bold;
    }
    
    .sacola-pedido__ingredientes {
        font-size: .9em;
    }
    
    .sacola-pedido__preco {
        font-weight: bold;
    }
    
    .sacola-pedido__actions {
        position: absolute;
        right: .5rem;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sacola-pedido__editar,
    .sacola-pedido__remover {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .sacola__divider {
        margin: 1rem 0;
        border: 1px solid #4caf50;
    }
}