@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    /* background-color: #efefef; */
}

.cabecalho {
    min-height: 5vh;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
}

.cabecalho__navegacao {
    height: 4rem;
    background-color: #4caf50;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.cabecalho__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.sacola-button {
    color: #fff;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.sacola-button__icon {
    font-size: 2em;
}

.sacola-container {
    height: 500px;
    width: 500px;
    position: absolute;
    right: 10%;
    top: 5rem;
    color: #000000;
    padding: 1rem;
    background-color: #80e27e;
    border-radius: .3rem;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
    z-index: 10000;
}

.sacola__estabelecimento {
    margin: 1rem 0;
}

.sacola-pedido {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding-right: 3rem;
}

.sacola-pedido__descricao {
    font-weight: bold;
}

.sacola-pedido__ingredientes {
    font-size: .9em;
}

.sacola-pedido__preco {
    font-weight: bold;
}

.sacola-pedido__actions {
    position: absolute;
    right: .5rem;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sacola-pedido__editar,
.sacola-pedido__remover {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.sacola__divider {
    margin: 1rem 0;
    border: 1px solid #4caf50;
}

.cabecalho__titulo {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
    margin: 0 10%;
}

.cabecalho__divider {
    margin: 2% 10%;   
}

.destaque {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 290px);
  grid-template-rows: 3rem 336px;
  gap: 28px;
  margin-bottom: 3rem;
}

.destaque__titulo-container {
    grid-column-start: 1;
    grid-column-end: 5;
}

.destaque__titulo {
    color: #000000;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 2em;
    height: 100%;
}

.destaque__card {
  display: grid;
  grid-template-rows: 50% 50%;
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.destaque__img {
    height: 100%;
    width: 100%;
}

.destaque__descricao {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.destaque__descricao--principal {
    font-weight: 400;
    color: #3e3e3e;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.destaque__descricao--secundario {
    color: #000000;
}

.destaque__preco {
    color: #4caf50;
}

.destaque__icon {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: #000000;
    background-color: #4caf50;
    border-radius: 50%;
    padding: .3rem;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 0;
}

.rodape {
    height: 3rem;
    margin-top: 5rem;
    background-color: #4caf50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 0 1rem;
    font-size: 1.1rem;
}

.background {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    background-color: rgba(113, 113, 113, 0.9);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
}

.pedido {
    position: relative;
    background-color: #efefef;
    height: 80%;
    width: 20%;
    z-index: 100000;
}

.pedido__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 3rem;
    height: 7rem;
    background-color: #087f23;
}

.pedido_close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2em;
    cursor: pointer;
}

.ingrediente-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #4caf50;
    color: #000000;
}

.ingrediente-header__titulo {
    display: flex;
    flex-direction: column;
}

.ingrediente-header__obrigatorio {
    align-self: center;
    background-color: #717171;
    padding: .5rem;
    border-radius: 4px;
    color: #efefef;
    text-transform: capitalize;
}

.ingrediente-individual {
    background-color: #80e27e;
    color: #000000;
    font-size: 1rem;
    position: relative;
    height: 4rem;
}

.ingrediente-individual__descricao {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 2rem;
}

.ingrediente-individual__descricao::before,
.ingrediente-individual__descricao::after {
    position: absolute;
    top: 20px;
    right: 63px;
}

.ingrediente-individual__descricao::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid #4caf50;
    border-radius: 50%;
    background-color: #efefef;
}

.ingrediente-individual__descricao::after {
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #4caf50;
}

.ingrediente-individual__checkbox {
    position: absolute;
    opacity: 0;
}

.ingrediente-individual__checkbox + .ingrediente-individual__descricao::after {
    content: none;
}

#item1:checked + .ingrediente-individual__descricao {
    color: red;
}

.pedido__actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: #4caf50;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.quantidade-wrapper {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pedido__remove-produto,
.pedido__add-produto,
.pedido__check-produto {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #087f23;
    outline: none;
    border: 1px solid #087f23;
    cursor: pointer;
}

.quantidade__produto {
    font-size: 1.3em;
    font-weight: bold;
}

.pedido__check-produto {
    grid-column: 3 / 4;
}

.run-animation {
    animation-name: slidein;
    animation-duration: 0.7s;
}

.display--hidden {
    overflow: hidden;
}

.display--none {
    display: none;
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}