@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    /* background-color: #efefef; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 5%;
    gap: 3rem;
}

.cabecalho {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% auto;
}

/* .cabecalho__navegacao {
    background-color: #087f23;
    display: flex;
    align-items: center;
    padding: 0 10%;
    height: 100%;
}

.cabecalho__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
} */

.cabecalho__navegacao {
    height: 4rem;
    background-color: #4caf50;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.cabecalho__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.sacola-button {
    color: #fff;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.sacola-button__icon {
    font-size: 2em;
}

.sacola-container {
    height: 500px;
    width: 500px;
    position: absolute;
    right: 10%;
    top: 5rem;
    color: #000000;
    padding: 1rem;
    background-color: #80e27e;
    border-radius: .3rem;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
    z-index: 10000;
}

.sacola__estabelecimento {
    margin: 1rem 0;
}

.sacola-pedido {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding-right: 3rem;
}

.sacola-pedido__descricao {
    font-weight: bold;
}

.sacola-pedido__ingredientes {
    font-size: .9em;
}

.sacola-pedido__preco {
    font-weight: bold;
}

.sacola-pedido__actions {
    position: absolute;
    right: .5rem;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sacola-pedido__editar,
.sacola-pedido__remover {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.sacola__divider {
    margin: 1rem 0;
    border: 1px solid #4caf50;
}

.run-animation {
    animation-name: slidein;
    animation-duration: 0.7s;
}

.display--hidden {
    overflow: hidden;
}

.display--none {
    display: none;
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.cabecalho__titulo {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
    margin: 2rem 10%;
}

.cabecalho__divider {
    margin: 0 10%;
}

.estabelecimento-list {
    margin: 0 10%;
}

.estabelecimento-list__item {
    display: inline-block;
    background-color: white;
    position: relative;
    height: 300px;
    width: 269px;
    margin: 1rem;
    padding-bottom: 1rem;
}

.estabelecimento__imagem {
    height: 70%;
    width: 100%;
}

.estabelecimento__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.estabelecimento__nome,
.estabelecimento__distancia,
.estabelecimento__tempo-entrega {
    color: #087f23;
    font-weight: bold;
    width: 100%;
    margin-top: .5rem;
    margin-left: 0.3rem;
    word-spacing: 0.1rem;
}

.estabelecimento__rating {
    position: absolute;
    bottom: 3.3rem;
    right: .5rem;
    display: flex;
    align-items: center;
}

.estabelecimento__rating_label,
.estabelecimento__rating_icon {
    color: #e7a74e;
}

.rodape {
    background-color: #356859;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 0 1rem;
    font-size: 1.1rem;
}

/* @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) { */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    body {
        gap: 0;
        grid-template-rows: 20% 5% auto 5%;
    }

    .cabecalho__divider {
        align-self: center;
    }
    
    .rodape {
        margin: 0;
        height: 5rem;
    }
}