@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

.cabecalho {
    grid-column: 1 / 3;
    background-color: #4caf50;
    height: 100%;
    display: flex;
    align-items: center;
}

.cabecalho__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 3em;
    padding-left: 2rem;
}

.navegacao-container {
    width: 100%;
    height: 100%;
    background-color: #087f23;
    opacity: .5;
}

.navegacao {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 32px;
    justify-items: center;
    align-items: center;
    border: 2px solid #087f23;
    gap: 1rem;
    padding: 16px;
}

.navegacao__item {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 1rem; */
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.navegacao__item:hover {
    font-weight: bold;
}